body{
	background: #FFFEFF;
	color: #616161;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
.container{
	width: 90%;
	margin: auto;
}
.menu-principal{
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 60px 0; 
}

.menu-principal ul {
	display: flex;
}
.menu-principal ul li {
	padding: 15px;
}

.menu-principal ul li a:hover{
	content: '';
	top:0;
	left: 0;
	padding: 10px 20px;
	background: #F06292;
	color: #fff;
	transition: 0.5s;
	
}










